{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
  <div class="news_infos">
    <ul>
      <p>知北游介绍<br />
        <br />
        十六年，你的阳寿只有十六年。　　这是洛阳的预言大师伽叶第一次看见林飞时，送给他的话。这一年，林飞十六岁。　　一个崭新而玄妙的世界向林飞打开，三个关系古怪的美女高手，一个看似预定的命运走向。　　这是一本东方玄幻的体裁，描述少年的成长经历。如果硬要写本书的内容简介，不如写一个这本书所要表达的东西，来得明白些。这就是对宿命的挣扎和反抗。<br />
        <br />
          知北游，宇宙万物源于气，道法无处不在。北者，玄也，意指不可知的地方。
        <br />
          我叫林飞。

    但是更多的人喜欢叫我“垃圾”、“小瘪三”、“臭无赖”、或者是“色狼”。

    其实名字只是一个代号，就像我叫林飞，也没有一飞冲天，倒更像是洛阳城墙根下水沟旁的一滩烂泥。

    趴在大槐树顶上，我头上盖着一片宽荷叶，眯起眼，伸长了脖子，盯着对面王员外家的花园。

    我是男人，看的当然是一个女人，而且还是个美少女。

    她坐在花园的秋千上，仰着头，快乐地摇来荡去，雪白的脖子在阳光下一闪一闪。秋千时而高高抛起，越过围墙，时而隐没在树荫里，银铃般的笑声洒得满地都是。

    烈日炎炎，阳光晒得树叶都蔫了，流淌的汗水几乎粘住了眼皮，但我仍然贼眼溜溜，看得心醉神迷。

    “二哥，你又在偷看王家小姐了！”树底下，一个人抬着头，对我尖叫，脏兮兮的小脸上，两条青龙从鼻孔里喷出，又倏地缩回去。

    “嘘！”我竖起食指，放在唇边，同时对他挥了挥拳头。

    他叫李洁净，是我们乞讨诈骗小偷抢劫帮的小弟。我在帮里排行老二，那是因为我聪明，老大是不能当的，一旦犯事，官府追究起来，老大一定最遭殃。

    枪打出头鸟嘛。

    “你别看了，快点下来啊！弟兄们都在白马寺门口等你呢。”李洁净眼巴巴地望着我，这么陡直的大槐树，帮里没几个人敢爬，因此当我为了偷看王家小姐，在帮里十来个兄弟的注视下，英勇地爬上树时，我得到了一点可怜的骄傲。

    “色胆包天。”帮里的兄弟最后这么说。

    我这样的人，也配有骄傲吗？<br/>
      <h2>About my blog</h2>
      &nbsp;
      <p>域 名：无 翻版于 2018年09月04日&nbsp;</p>
      <br />
      <p>服务器：wisg Django&nbsp;&nbsp;<a href="#" target="_blank"><span style="color:#FF0000;"><strong>没有服务器&gt;&gt;</strong></span></a></p>
      <br />
      <p>备案号：无</p>
      <br />
      <p>程 序：Python</p>
    </ul>
  </div>s
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="{{ MEDIA_URL }}{{ user.img }}" alt="" height="100"> </p>
      <p class="abname">{{ user.userpi }} | {{ user.uname }}</p>
      <p class="abposition">{{ user.email }}</p>
      <p class="abtext">{{ user.userinfo }}</p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="{% static 'images/1.jpg' %}" width="344">
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
